{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="/bundles/easyadmin/app.css" rel="stylesheet" />
    <link href="favicon-32x32.png" rel="icon" />
{% endblock %}

{% block title %}DocThor - Zaloguj się!{% endblock %}

{% block body %}
{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if app.user %}
        <div class="alert alert-danger">
            Jesteś już zalogowany jako użytkownik {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj</a>
        </div>
{% endif %}


<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
   <center><a href="/admin"><h1><img src="thor.png">DocThor</h1></a></center>
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-12 col-md-8 col-lg-2 col-xl-4">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
    <h3 class="h3 mb-3 font-weight-normal">Zaloguj się</h3>
    Wprowadź swoją nazwe użytkownika oraz hasło w celu zalogowania się.
    <form method="post"> <br>
    <div class="form-outline mb-4"><input type="text" placeholder="Użytkownik" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <br>
    <div class="form-outline mb-4"><input type="password" placeholder="Hasło" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <a href="{{ path('app_forgot_password_request') }}" class="-- link-color">Zapomniałem hasła</a><br>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br><button class="btn btn-primary" type="submit">Zaloguj</button></form>
    </div> </div> </div></div></div></div></div>

</section>
<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #60a5fa;">
    © 2022 Copyright:
    <a class="text-white" href="/admin">docthor.pl</a>
  </div>
  <!-- Copyright -->
</footer>

{% endblock %}
