{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <center>
    <h1><img src="thor.png">DocThor</h1><br>
    <h3 class="h3 mb-3 font-weight-normal">Zaloguj się do DocThor</h3>
    <table><tr><td>
    <label for="inputUsername">Nazwa użytkownika</label></td><td>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus><br></td></tr><tr><td>
    <label for="inputPassword">Hasło</label></td><td>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required></td></tr></table>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<br>
    <button class="btn btn-lg btn-primary" type="submit">
        Zaloguj
    </button>
</form></center>
{% endblock %}
